<!DOCTYPE html>
<html lang="en" ng-app="SOApp">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <title>SO33711803</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <div ng-controller="MainController">
            Debug MainCtrl.js to see the functionality...
        </div>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.js"></script>
        <script src="/js/controllers/MainCtrl.js"></script>
        <script src="/js/factories/ListingsService.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>